body {
  min-height: 100vh;
  width: 100%;
}
.icon {
  width: 9%;
}
.carousel-img {
  width: 100% !important;
  height: 800px !important;
}
.search input[type="text"] {
  height: 50px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.151);
  margin-left: 180px;
}
.search input[type="text"]:focus {
  outline: 0;
}
.district {
  margin-left: 60px;
}
.para_of_SL {
  padding: 20px 400px 0px 400px;
}
footer {
  top: 230vh;
}
